
body {
 background-color: #F3F3F3;
}

.w {
 position: relative;
 width: 1200px;
 margin: 0 auto;
}

/* 字体颜色 */
.ft_style_c {
 color: #FFF;
 font-weight: 700px;
 font-size: 12px;
}

/* 链接通用设置 */
a {
 color: #FFF;
 font-size: 12px;
}

/* 顶部导航 */
.shortcut {
 position: fixed ;
 z-index: 1;
 top: 0;
 left: 0;
 width: 100%;
 height: 40px;
 border-bottom: 1px solid rgba(12, 232, 154, .8);
 background-color: rgba(28, 30, 38, .8);
 line-height: 40px;
}

.fl {
 float: left;
 color: #FFF;
 font-weight: 700px;
}

.fr {
 float: right;
}

.fr ul li {
 float: left;
}

.fr ul li a {
 display: inline-block;
}

.fr ul li:nth-child(2n) {
 width: 1px;
 height: 12px;
 margin: 14px 15px 0;
 background-color: rgba(255,255,255,.5);
}

/* 头部制作 
头部通栏背景 */
.hearder {
 width: 100%;
 height: 360px;
 background: url(../images/bg.png) no-repeat center 10%;
 background-color: #F3F3F3;
 background-size: 1920px 1080px;
 animation: hdbg 20s infinite;
}

/* 
@keyframes hdbg {
 0% {
  background: url(../images/bg.png) no-repeat center 10%;
  background-color: #F3F3F3;
  background-size: 1920px 1080px;
 }

 25% {
  background: url(../images/bg.png) no-repeat center 20%;
  background-color: #F3F3F3;
  background-size: 1920px 1080px;
 }

 50% {
  background: url(../images/bg.png) no-repeat center 30%;
  background-color: #F3F3F3;
  background-size: 1920px 1080px;
 }

 75% {
  background: url(../images/bg.png) no-repeat center 20%;
  background-color: #F3F3F3;
  background-size: 1920px 1080px;
 }

 100% {
  background: url(../images/bg.png) no-repeat center 10%;
  background-color: #F3F3F3;
  background-size: 1920px 1080px;
 }
} */

/* 头部制作 
    左-logo模块 */
.logo {
 position: absolute;
 top: 180px;
 width: 210px;
 height: 27px;
}

.logo a {
 display: block;
 overflow: hidden;
 width: 400px;
 height: 40px;
 background: url(../images/logo3.png) no-repeat;
 text-indent: -999px;
 -webkit-transition: all .5s;
         transition: all .5s;
}

/* 头部制作 
    中-搜索 */
.w .search {
 position: absolute;
 top: 175px;
 left: 30%;
 width: 540px;
 height: 40px;
 border: 1px solid #1C1E26;
 -webkit-transition: all .5s;
         transition: all .5s;
}

.search input {
 float: left;
 width: 455px;
 height: 40px;
 padding: 20px;
 background-color: rgba(255,255,255,.8);
 font-size: 14px;

 -webkit-appearance: none; /* 解决safari输入框无效 */
}

.search button {
 float: left;
 width: 85px;
 height: 40px;
 background-color: rgba(28, 30, 38, .8);
 -webkit-transition: all .5s;
         transition: all .5s;
}

.search button::after {
 height: 40px;
 color: #FFF;
 font-size: 24px;
 line-height: 38px;
 font-family: icomoon;
 content: "\e9cc";
}

/* 头部制作 
    右-自定义 */
.shopcar {
 position: absolute;
 top: 175px;
 right: 0;
 width: 140px;
 height: 40px;
 border: 1px solid #1C1E26;
 background-color: rgba(28, 30, 38, .8);
 line-height: 40px;
 text-align: center;
 -webkit-transition: all .5s;
         transition: all .5s;
}

.shopcar .shopcar_a {
 position: relative;
 padding: 0 2px;
 color: #FFF;
 font-size: 16px;
 line-height: 40px;
}

.shopcar::before {
 position: relative;
 top: 1px;
 color: #FFF;
 font-size: 16px;
 font-family: 'icomoon';
 content: '\e979';
}

.shopcar .count {
 position: absolute;
 top: -8px;
 right: 0;
 height: 14px;
 padding: 0 8px;
 border-radius: 7px 7px 7px 0;
 background: rgba(232, 12, 88, .0);
 color: #FFF;
 font-size: 0;
 line-height: 16px;
 transition: all .1s;
}

/* nav模块 */
.nav {
 width: 100%;
 height: 45px;
 margin-top: 40px;
 border-bottom: 1px solid rgba(12, 232, 154, .8);
}

/* nav左 */
.dropdown {
 float: left;
 width: 210px;
 height: 45px;
 background-color: #1C1E23;
}

/* nav右 */
.navitems {
 float: left;
 height: 45px;
}

/* nav左开始 */
.dropdown .dt {
 width: 100%;
 height: 100%;
 color: #FFF;
 font-size: 16px;
 line-height: 45px;
 text-align: center;
}

.dropdown .dd {
 /* display: none; */
 width: 210px;
 height: 466px;
 background-color: rgba(28, 30, 38, .8);
}

.dropdown .dd ul li {
 position: relative;
 z-index: 2;
 height: 40px;
 padding-left: 20px;
 line-height: 40px;
}

.dropdown .dd ul li::after {
 position: absolute;
 top: 1px;
 right: 10px;
 color: #FFF;
 font-size: 14px;
 font-family: icomoon;
 content: '\e930';
}

.dropdown .dd ul li a {
 display: inline-block;
 font-size: 14px;
}

.dropdown .dd ul li:hover {
 background-color: seagreen;
}

/* nav右开始 */
.navitems ul li {
 float: left;
}

.navitems ul li a {
 display: inline-block;
 height: 45px;
 padding: 0 25px;
 color: rgba(28, 30, 38);
 font-weight: 700;
 font-size: 16px;
 line-height: 45px;
}

.navitems ul li a:hover {
 color: rgba(12, 232, 154);
}

/* 底部模块 */
.footer {
 height: 460px;
 padding-top: 40px;
 border-bottom: 10px solid rgb(12, 232, 154);
 background-color: #1C1E23;
 color: #FFF;
}

/* 底部-提供服务 */
.mod_service {
 height: 100px;
 padding: 20px 0;
 border-bottom: 1px solid rgb(12, 232, 154,.2);
}

.mod_service ul li {
 float: left;
 width: 240px;
 height: 50px;
 margin-top: 14px;
}

.mod_service ul li  h5 {
 float: left;
 width: 50px;
 height: 50px;
 margin-right: 8px;
 background: url(../images/icons.png) no-repeat;
}

.service_txt {
 color: #FFF;
 font-size: 14px;
}

/* 底部帮助 */
.mod_help {
 height: 200px;
 padding-top: 40px;
 border-bottom: 1px solid rgb(12, 232, 154,.2);
}

.mod_help dl {
 float: left;
 width: 200px;
 margin-top: 14px;
 text-align: center;
}

.mod_help dl dt {
 margin-bottom: 5px;
 font-weight: 700px;
 font-size: 16px;
}

.mod_help dl dd {
 margin-left: -6px;
}

.mod_help dl dd a {
 display: inline-block;
 padding: 2px;
 font-size: 14px;
}

/* qrcode */
.mod help dl:last-child {
 width: 90px;
}

.mod_help dl p {
 display: inline-block;
 margin-top: 5px;
 margin-left: -10px;
 padding: 1px;
 font-weight: 700px;
 font-size: 12px;
 text-align: center;
}

.mod_copyright {
 padding-top: 20px;
 text-align: center;
}

.links {
 margin-bottom: 15px;
}

.links ul li {
 display: inline;
 margin: 0 auto;
 text-align: center;
}

.links ul li:nth-child(2n) {
 display: inline-block;
 width: 1px;
 height: 10px;
 margin: 14px 15px 0;
 background-color: rgba(255,255,255,.5);
}

.sidebar {
 display: block;
 position: fixed;
 bottom: 5%;
 left: 60%;
 width: 40px;
 height: 100px;
 margin-left: 600px;
 border: rgb(12, 232, 154) 1px solid;
 background: rgba(28, 30, 38, 1);
}

/* 顶部导航动效*/
.shortcut .fr ul li a:hover {
 color: #0CE89A;
}

/* 标志动效* */
.logo a:hover {
 background: url(../images/logo2.png) no-repeat;
}

/* 搜索框动效 */
.search:hover {
 border: 1px solid rgba(12, 232, 154, .8);
 box-shadow: 0 5px 10px 0 rgba(12, 232, 154, .3);
}

.search input:hover {
 background-color: rgba(255,255,255);

 -webkit-appearance: none;
}

.search:hover button {
 background-color: rgba(12, 232, 154, .8);
}

/* 搜索框旁边的自定义动效 */
.shopcar:hover {
 border: 1px solid rgb(12, 232, 154);
 box-shadow: 0 5px 10px 0 rgba(12, 232, 154, .3);
}

.shopcar:hover::before {
 color: #0CE89A;
}

.shopcar:hover .count {
 height: 20px;
 background: #E80C58;
 font-weight: 700;
 font-size: 12px;
 line-height: 20px;
}
